* {
  box-sizing: border-box;
}
button {
  all: unset;
}
p {
    all: unset;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #f2f2f2;
}
.flex__container {
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none;
}
.wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 384px;
  margin: 0 auto;
  padding-top: 50px;
  width: 95%;
}
.products {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 15px;
  margin: 0 auto;
}
.photo__img {
  width: 230px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
.product {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  margin-bottom: 15px;
  height: 250px;
}

.description {
  display: grid;
  grid-template-rows: 40px 1fr 40px 35px;
  width: 100%;
  padding: 15px;
}
.description__title {
    all: unset;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.description__btn {
  all: unset;
  width: 124px;
  height: 35px;
  background: transparent linear-gradient(90deg, #3ba9fb 0%, #148af1 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 2px 7px #00000033;
  border-radius: 4px;
  opacity: 1;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
}

.description__btn:hover {
  background: transparent linear-gradient(90deg, #148af1 0%, #3ba9fb 100%) 0% 0%
    no-repeat padding-box;
}
.description__button {
    height: 100%;
    align-self: end;
}
.cart {
  position: sticky;
  top: 50px;
  width: 384px;
  height: calc(100vh - 70px);
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 65px 1fr 75px;
}
.cart__header {
  margin: 0;
  line-height: 60px;
  height: 60px;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.cart__noOrder {
  align-self: center;
}
.cart__product {
  overflow: auto;
}
.cart__content {
  padding: 15px;
  border-bottom: 1px solid lightgray;
  height: 170px;
}
.cart__description {
  text-align: center;
  color: grey;
}
.description__btn--cart {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description__btn--cart span {
  font-size: 16px;
  padding: 0 15px;
}
